@model TallinnaRakenduslikKolledz.Models.Student
@{
	ViewData["Title"] = "Muuda õpilane";
}

<h1>Loo uus Õpilane</h1>
<hr />
<div class="row">
	<div class=" col-md-4">

		<form asp-action="Edit">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">

				<label asp-for="LastName" class="control label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

			<div class="form group">

				<label asp-for="FirstName" class="Control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form group">

				<label asp-for="EnrollmentDate" class="Control-label"></label>
				<input asp-for="EnrollmentDate" class="form-control" />
				<span asp-validation-for="EnrollmentDate" class="text-danger"></span>
			</div>

			<div class="form group">

				<label asp-for="Nationality" class="Control-label"></label>
				<input asp-for="Nationality" class="form-control" />
				<span asp-validation-for="Nationality" class="text-danger"></span>
			</div>

			<div class="form group">

				<input type="submit" value="Sisesta" class="btn btn-primary" />
				<input type="hidden" asp-for="DepartmentID" />

			</div>
			
			


		</form>


	</div>

</div>
<div>


	<a asp-action="Index">"Mine tagasi loendise"</a>

</div>

